* {
	padding: 0;
  margin: 0;
}

.App {
	text-align: center;
	background-image: linear-gradient(to bottom, rgb(192,192,192),rgb(105,105,105));
  height: 120vh;
  font-family: Courier, Arial, Helvetica, sans-serif;
}

.App h1 {
  text-decoration: underline;
  font-size: 2.5rem;
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}

#number-fact{
  width: 30vw;
  padding-top: 4rem;
}

#number-fact h3{
  text-decoration: underline;
}

#keypad{
  width: 30vw;
}

.result {
  display: flex;
  grid-column: 1 / -1;
  background-color: rgb(0,0,0,0.5);
  border: none;
  
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
}

#calc-top {
  color: rgb(255,255,255,0.75);
  font-size: 2rem;
  padding-right: 5px;
  padding-top: 5px;
}

#calc-bottom {
  font-size: 3rem;
  color: rgb(255,255,255);
  padding-right: 5px;
  padding-top: 5px;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);

}

.calculator > button {
	background-color: rgba(224, 224, 224, 0.9);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(140,140,140);
  font-size: 2rem; 
  outline: none;
}

.calculator > button:hover {
	cursor: pointer;
	background-color: rgba(224, 224, 224)
}

button.operator{
  background-color: rgb(255,142,0,0.9);
  color: rgb(255,255,255);
}

button.operator:hover{
  background-color: rgba(255,142,0)
}
.width-double{
  grid-column: span 2;
}

@media screen and (max-width: 800px) {
  #content-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  #number-fact{
    padding-bottom: 2rem;
    padding-top: 0rem;
  }
}